openapi: 3.1.0
info:
  title: Indiegogo Public Creators API
  version: '1.0'
  description: The Indiegogo Public API exposes read-only, unauthenticated endpoints for retrieving creators and active crowdfunding projects from the Indiegogo platform. Responses are cached for a short duration. This specification was harvested by the API Evangelist enrichment pipeline directly from the live endpoints at https://www.indiegogo.com/api/public and the published documentation at https://help.indiegogo.com/article/616-indiegogo-public-api; schemas reflect real observed responses.
  contact:
    name: Indiegogo Developer Resources
    url: https://help.indiegogo.com/category/617-developer-resources
  termsOfService: https://www.indiegogo.com/about/terms
servers:
- url: https://www.indiegogo.com
  description: Production
tags:
- name: Creators
paths:
  /api/public/creators/getCreator:
    get:
      operationId: getCreator
      summary: Get a creator by URL name
      description: Retrieves a creator by their unique URL name.
      tags:
      - Creators
      parameters:
      - name: urlName
        in: query
        required: true
        description: The unique URL name of the creator (e.g. defne-mustecaplioglu).
        schema:
          type: string
      responses:
        '200':
          description: Creator found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creator'
              example:
                creatorPageUrl: https://www.indiegogo.com/creators/defne-mustecaplioglu
                description: null
                name: Defne Mustecaplioglu
                thumbImageUrl: https://cdn.images.indiegogo.com/smallthumb/noimage.jpg
                urlName: defne-mustecaplioglu
        '400':
          description: The urlName parameter was not provided or was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: URL name was not provided.
components:
  schemas:
    Error:
      type: object
      description: Error envelope returned on a 400 response.
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
      required:
      - success
      - message
    Creator:
      type: object
      description: A campaign creator on Indiegogo.
      properties:
        name:
          type: string
        urlName:
          type: string
        description:
          type:
          - string
          - 'null'
        creatorPageUrl:
          type: string
          format: uri
        thumbImageUrl:
          type: string
          format: uri
